#HautPage {
    position: fixed;
    background-color: #c0c0c0;
    height: auto;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

#HautPage .photo {
    width: 120px;
    height: 120px;
}

#HautPage .photo img {
    width: 100px;
    height: 120px;
    border-radius: 50%;
}


#aPropos {
    height: 17em;
    background-image: url(R.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6em;
    width: 100%;
}

#aPropos h2 {
    background-color: rgba(22, 22, 23, .6);
    font-size: medium;
    width: fit-content;
    padding: 3px;
}

.contenue p {
    width: 70%;
}

.contenue {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



#bouton {
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 2em;
}

#bouton:hover {
    background-color: #1e293b;
    color: #fff;
}

@media (min-width: 768px) {
    #bouton {
        font-size: 1.125rem;
        padding: 1rem 2rem;
    }
}


#HautPage .petit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: open sans;
}

#HautPage .petit a:hover {
    color: #554a33;
}

#HautPage .partieGauche {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

#HautPage .partieGauche h2 {
    text-shadow: 1px 3px black;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    font-size: xx-large;
}

#HautPage .partieGauche p {
    font-weight: bold;
    font-size: larger;
}

#HautPage .partieDroite {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.partieDroite img {
    width: 4em;
    padding-left: 1em;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: inline;
    height: 100vh;
    color: #f5f5f7;
    animation: fade 0.5s;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    margin-top: 3em;
}

#HautPage .partieDroite img {
    transition: 0.5s;
}

#HautPage .partieDroite h2:hover+ul,
ul:hover {
    display: block;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    padding-top: 28vh;
    animation: fade 0.4s;
}

.suite * {
    color: black;
}

.contact {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.boutonRedirection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ffffff;
}

.boutonRedirection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boutonRedirection:hover {
    opacity: 0.8;
}

ul li {
    background-color: rgba(22, 22, 23, .8);
    color: #c0c0c0;
    display: block;
    padding: 10px;
    margin-bottom: -1px;
    position: relative;
    transition: background-color 0.3s ease;
    width: 35vh;
    display: flex;
    justify-content: center;
}

ul li a {
    text-decoration: none;
    color: #ccc;
}

ul li:last-child {
    margin-bottom: 0;
}

ul li:hover {
    background-color: #ccc;
    cursor: pointer;
}

ul li:hover a {
    color: rgba(22, 22, 23);
}

ul li:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #ccc;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    transition: border-color 0.3s ease;
}

ul li:hover:before {
    border-left-color: #333;
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.MilieuPage {
    position: relative;
    height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.MilieuPage a {
    color: black;
}


.MilieuPage #MilieuPageProjet {
    display: block;
    animation: fade 0.5s;
}

.MilieuPage ::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.MilieuPage .suite {
    color: white;
    font-size: x-large;
}

.MilieuPage .suite:hover {
    color: #554a33;
    cursor: pointer;
}

.MilieuPage #MilieuPageProjet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: medium;
}

.MilieuPage #MilieuPageProjet p {
    padding: 1vh;
    width: 40%;
    border-radius: 20px;
    font-family: open sans;
}

a.divRempli {
    text-decoration: none;
}


.MilieuPage #MilieuPageProjet p:hover {
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}

.MilieuPage img {
    width: 350px;
    padding-top: 3vh;
    cursor: pointer;
    padding: 6vh;
}


#HautPage .partieGauche p:nth-child(2) a:hover {
    cursor: pointer;
    color: #554a33;
}

#HautPage .partieGauche a {
    color: white;
    text-decoration: none;
}


.MilieuPage #MilieuPageProjet img:hover {
    width: 70vh;
    border-radius: 20px;
    animation: fade 0.8s;
    transition: 1.5s;
}

.MilieuPage #MilieuPageProjet img {
    transition: 1.5s;
}

.btn {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

.icone {
    width: 50px;
    height: 50px;
}


@media screen and (max-width: 1090px) {
    #HautPage {
        font-size: smaller;
    }
}

@media screen and (max-width: 912px) {
    #HautPage .partieGauche {
        display: none;
    }
}

@media screen and (max-width: 620px) {
    #HautPage .partieDroite h2 {
        margin-left: 10vh;
    }
}



@media screen and (max-width: 780px) {
    #HautPage .partieGauche {
        display: none;
    }

    #MilieuPageProjet img{
        display : none
    }

    #MilieuPageProjet a,p{
        font-size: small;
    }

    #HautPage .partieDroite {
        font-size: medium;
    }
}
