#HautPage {
    position: fixed;
    background-color: black;
    border-bottom: solid white 3px;
    height: auto;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    justify-content: space-around;
}

#HautPage .partieDroite h2 {
    padding: 15px;
}

#HautPage .photo img {
    width: 100px;
    height: 120px;
    border-radius: 50%;
}

::selection {
    color: black;
    background-color: white;
}

.contenue {
    height:800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenue h2 {
    text-align: center;
}

.rectangle {
    position: relative;
    width: 70%;
    border: solid white 3px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.rectangle p {
    margin: 0;
    color: #fff;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.rectangle:hover p {
    opacity: 1;
    transform: translateY(0);
}


#bouton {
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 2em;
}

#bouton:hover {
    background-color: #1e293b;
    color: #fff;
}

@media (min-width: 768px) {
    #bouton {
        font-size: 1.125rem;
        padding: 1rem 2rem;
    }
}

.contacter {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    left: 20px;
    z-index: 1;
    position: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contacter a:hover {
    color: #554a33;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

#HautPage .partieGauche {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

#HautPage .partieGauche p {
    font-weight: bold;
    font-size: larger;
}

#HautPage .partieDroite {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.partieDroite img {
    width: 3em;
    padding-left: 1em;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: inline;
    height: 100vh;
    color: #f5f5f7;
    animation: fade 0.5s;
    background-color: rgba(0, 0, 0, 0.7)
}

html {
    background-color: black;
}


ul {
    list-style: none;
    margin: 0;
    display: none;
    padding: 0;
}

#HautPage .partieDroite img {
    transition: 0.5s;
}

#HautPage .partieDroite h2:hover+ul,
ul:hover {
    display: block;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    animation: fade 0.4s;
    transition: all;
    top:9vh;
}

#HautPage .partieDroite h2:hover {
    color: #554a33;
}

.suite * {
    color: white;
}

.contact {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.boutonRedirection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ffffff;
}

.boutonRedirection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boutonRedirection:hover {
    opacity: 0.8;
}

ul li {
    background-color: #161617cc;
    color: #c0c0c0;
    padding: 10px;
    margin-bottom: -1px;
    position: relative;
    transition: background-color 0.3s ease;
    width: 45vh;
    display: flex;
    justify-content: center;
}

ul li a {
    color: #ccc;
}

ul li:hover {
    background-color: #ccc;
    cursor: pointer;
}

ul li:hover a {
    color: rgba(22, 22, 23);
}

ul li:before {
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #ccc;
    position: absolute;
    right: 5px;
    transform: translateY(-50%);
    transition: border-color 0.3s ease;
}

ul li:hover:before {
    border-left-color: #333;
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.MilieuPage {
    position: relative;
    height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.MilieuPage #MilieuPageProjet {
    display: block;
    animation: fade 0.5s;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.MilieuPage .suite {
    color: white;
    font-size: x-large;
}


.MilieuPage .suite:hover {
    color: #554a33;
    cursor: pointer;
}

.MilieuPage #MilieuPageProjet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: medium;
}

.MilieuPage #MilieuPageProjet .lien {
    padding: 1vh;
    width: 40%;
    border-radius: 20px;
    font-family: open sans;
    font-size: large;
    border: solid white 3px;
    color: white;
    transition: 0.5s ease;
}

.MilieuPage #MilieuPageProjet a:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s ease;
}

.MilieuPage img {
    width: 350px;
    padding-top: 3vh;
    cursor: pointer;
    padding: 6vh;
}

.MilieuPage #MilieuPageProjet img:hover {
    width: 70vh;
    border-radius: 20px;
    animation: fade 0.8s;
    transition: 1.5s;
}

.MilieuPage #MilieuPageProjet img {
    transition: 1.5s;
}

.btn {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    transition: 0.5s ease;
}

.btn:hover {
    transform: scale(1.2);
    margin-bottom: 5px;
    transition: 0.5s ease;
}

/* Bouton Descendre */
.btnDescendre {
    transition: 0.5s ease;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    top:650px;
}

.btnDescendre:hover {
    transform: translate(-50%, -50%) scale(1.2);
    margin-top: 5px;
    transition: 0.5s ease;
}

.icone {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 1090px) {
    #HautPage {
        font-size: smaller;
    }

    ul li {
        width: 35vh;
    }
}

@media screen and (max-width: 912px) {

    #HautPage .partieGauche,
    #HautPage .photo {
        display: none;
    }

    #HautPage .partieDroite {
        padding: 25px;
    }

    .contenue {
        font-size: smaller
    }
}