.nav-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #ffffff;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  position: fixed;
  z-index: 100;
  transition: all 0.2s ease-in-out;
}

.nav-bar.background {
  background-color: black;
  transition: all 0.2s ease-in-out;
}

.nav-bar-experiences,
.nav-bar-logo,
.nav-bar-redirection {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar-experiences {
  width: 33%;
}

.nav-bar-logo {
  width: 33%;
}

.nav-bar-logo img {
  width: 100px;
  height: 100px;
  transition: all 0.5s;
}

.nav-bar-logo img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.nav-bar-redirection {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1px;
}

.nav-bar-redirection p,
.nav-bar-redirection a {
  color: #ffffff;
  text-decoration: none;
  padding-left: 1em;
  padding-right: 1em;
  font-size: calc(0.3em + 1vw);
}

.nav-bar-redirection .nav-item {
  position: relative;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease;
}

.nav-bar-redirection .nav-item:hover {
  color: #282c34 !important;
}

.nav-bar-redirection .nav-item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 10%;
  background-color: black;
  transition: width 0.3s ease-in-out;
}

.nav-bar.background .nav-item::after {
  background-color: #ffffff;
}

.active {
  color: gray !important;
}

.nav-bar-redirection .nav-item:hover::after {
  width: 80%;
  left: 10%;
}

.ant-btn {
  background-color: transparent;
  color: #ffffff;
  border: none;
  font-size: calc(0.3em + 1vw);
  line-height: 0 !important;
  display: flex;
  align-items: center;
}

.ant-btn:hover {
  background-color: transparent;
  color: #282c34 !important;
  border: none;
}

.ant-dropdown-trigger {
  background-color: transparent !important;
  border: none !important;
}

.dropdown-experiences ul {
  background: rgba(0, 0, 0, 0.8) !important;
}

.dropdown-experiences ul li {
  color: #ffffff !important;
}

.dropdown-experiences ul li:hover {
  background: #282c34 !important;
}

.ant-dropdown-arrow:before {
  background: rgba(0, 0, 0, 0.8) !important;
}

@media screen and (max-width: 768px) {
  .nav-bar {
    font-size: 20px;
  }

  .nav-bar-experiences {
    width: 50%;
  }

  .nav-bar-redirection {
    width: 50%;
  }

  .nav-bar-redirection p,
  .nav-bar-redirection a {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-bar-logo {
    display: none;
  }
}
