/**
 * FILEPATH: /c:/Users/ksori/OneDrive/Bureau/portfolio/src/css/PortfolioPage.css
 * 
 * Styles for the portfolio page.
 */

/**
 * Styles for the welcome section of the portfolio page.
 */
.portfolio-welcome {
  height: calc(100vh - 100px);
  min-height: 200px;
  background-color: #171717;
  background-image: url("../images/signatureGray.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  color: #ffffff;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 100px;
}

/**
 * Styles for the heading in the welcome section.
 */
.portfolio-welcome h1 {
  font-size: calc(0.5em + 3vw);
  margin: 0;
}

.portfolio-welcome p {
  font-size: calc(0.3em + 1vw);
  font-style: italic;
}

.portfolio-welcome-about {
  display: none;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(23, 23, 23, 0.8);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  border: 1px solid #ffffff;
  transition: opacity 0.5s ease, transform 0.5s ease;
  text-align: justify;
}

.portfolio-welcome-about.visible {
  display: block;
  opacity: 0;
  transform: translate(-70%, -50%);
  animation: fadeAbout 1s forwards;
}

@keyframes fadeAbout {
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

/**
 * Styles for the text container in the welcome section.
 */
.portfolio-welcome-text {
  z-index: 2;
  text-align: start;
  margin-bottom: 100px;
  margin-right: 20%;
  opacity: 0;
  transform: translateY(30%);
  animation: fadeIn 1s forwards;
}

.portfolio-welcome-button {
  margin-top: 10px;
  background: transparent;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 2px;
  font-size: calc(0.3em + 0.8vw);
  outline: 3px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 8px;
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

.portfolio-welcome-button:hover {
  color: rgba(255, 255, 255, 0.8);
  outline-color: rgba(71, 126, 232, 0);
  outline-offset: 50px;
}

/**
 * Keyframes for the fade-in animation.
 */
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.arrow-experiences {
  position: absolute;
  bottom: 5%;
}

/**
 * Styles for the arrow icon in the experiences section.
 */
.arrow-experiences img {
  width: 50px;
  height: 50px;
  margin-top: 50px;
  transition: all 1s ease-in-out;
  animation: upAndDown 2s infinite ease-in-out;
}

/**
 * Styles for the arrow icon on hover in the experiences section.
 */
.arrow-experiences img:hover {
  animation: none;
  transform: scale(1.2);
  cursor: pointer;
}

/**
 * Styles for the scroll-to-top arrow icon.
 */
.arrow-scroll-top img {
  width: 50px;
  height: 50px;
  transition: 0.5s;
  position: fixed;
  bottom: 50px;
  right: 50px;
  transition: all 0.5s;
  z-index: 100;
  opacity: 0;
}

/**
 * Styles for the visible scroll-to-top arrow icon.
 */
.arrow-scroll-top.visible img {
  opacity: 1;
}

/**
 * Styles for the scroll-to-top arrow icon on hover.
 */
.arrow-scroll-top img:hover {
  transform: scale(1.2) translateY(-10px);
  cursor: pointer;
}

.ant-steps-item-finish .ant-steps-item-icon {
  background-color: transparent !important;
}

.portfolio-experiences-steps {
  display: none;
  position: fixed;
  top: 100px;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  z-index: 15;
  transition: all 0.2s ease-in-out;
}

.portfolio-experiences-steps.visible {
  display: flex;
  transition: all 0.2s ease-in-out;
}

.portfolio-steps {
  width: 95%;
}

/**
 * Styles for the experiences section of the portfolio page.
 */
.portfolio-experiences {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #171717 10%, black 90%);
}

.portfolio-experiences-divider {
  color: #f7f7f7 !important;
  border: #f7f7f7 !important;
}

.portfolio-experiences-divider:first-of-type {
  margin-top: 0;
}

/**
 * Styles for the footer section of the portfolio page.
 */
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 1em;
  font-size: 14px;
}

.ant-dropdown-menu-title-content {
  font-size: calc(0.3em + 0.5vw);
}

/**
  * Keyframes for the up and down animation.
  */
@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-height: 768px) {
  .arrow-scroll-top img {
    bottom: 20px;
    right: 20px;
    height: 30px;
    width: 30px;
  }

  .arrow-experiences img {
    margin-top: 20px;
    height: 30px;
    width: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .portfolio-experiences-steps {
    display: none !important;
  }

  .portfolio-welcome-text {
    margin-right: 0;
  }
}

/**
 * Media query styles for screens with a maximum width of 768px.
 */
@media (max-width: 768px) {
  .portfolio-welcome {
    flex-direction: column;
    justify-content: center;
    height: 80vh;
  }

  .portfolio-welcome h1 {
    font-size: calc(0.8em + 2vw);
  }

  .portfolio-welcome h2 {
    font-size: calc(0.6em + 1vw);
  }

  .arrow-experiences {
    bottom: 10%;
  }

  .arrow-experiences img {
    margin-top: 20px;
    height: 30px;
    width: 30px;
  }

  .arrow-scroll-top img {
    bottom: 20px;
    right: 20px;
    height: 30px;
    width: 30px;
  }

  .ant-dropdown-menu-title-content {
    font-size: 12px;
  }

  .portfolio-experiences {
    overflow: hidden;
  }

  footer {
    font-size: 12px;
  }

  .portfolio-experiences-divider {
    font-size: 12px !important;
  }
}
