/**
 * FILEPATH: /c:/Users/ksori/OneDrive/Bureau/portfolio/src/css/ResumeRedirection.css
 * 
 * Styles for the resume redirection component.
 */
 
.resume-redirection {
  position: fixed;
  left: 20px;
  color: #f7f7f7;
  bottom: 20px;
  z-index: 5;
}

.resume-redirection a {
  color: #f7f7f7;
  text-decoration: none;
  transition: all 0.2s ease;
  font-size: calc(0.1em + 0.9vw);
}

.resume-redirection a:hover {
  color: #282c34;
}

@media (max-width: 768px) {
  .resume-redirection {
    left: 10px;
    bottom: 10px;
  }

  .resume-redirection a {
    font-size: calc(0.2em + 1.5vw);
  }
}
